.moiCvet {
    margin-left: 100px;
    width: 150px;
    height: 175px;
    background-color:rgb(255, 255, 255);
    border: 1px solid;
    
}

.container {
    display: flex;
}

.secondCollar {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    
}

.firstCollar {
    display: flex;
    flex-direction: column;
}

.viborCvetaStyle {
    width: 150px;
    height: 50px;
}

.pole {
    width: 142px;
    height: 35px;
}
